:root {
	--color-main0: #F8F9FB;
	--color-main1: #F3F3FB;
	--color-main2: #B99274;
	--color-main3: #8A9B6E;
	--color-main4: #354733;
	--header_height: 100px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

}

html, body {
	height: 100%;
	/*Плавность прокрутки*/
	scroll-behavior: smooth;
	/*Шрифты*/
	font-family:'Comfortaa', cursive;
	font-size: 10px;
}
header {
	position: fixed;
	height: var(--header_height);
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0 3%;
	background-color: var(--color-main3);
	color: white;
	/*Близость к пользователю (слои)*/
	z-index:100	 ;
}

.logo {
	font-size: 2.5rem;
	font-weight: bold;
	width: 200px;
/*	пробелы от букв*/
	letter-spacing: ;
}
.top-nav {
	width: 70%;
	display: flex;
	justify-content: flex-end;
	align-items: center;

}
.nav-link {
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
	padding: 10px 10px

}

.search-container {
	width: 20%;
	margin-left: 5px;

}
#search {
	background-image: url(../images/search.png);
	background-repeat: no-repeat;
	background-size: 15px 15px;
	background-position: 0 center;

	border: none;
	outline: none;
	width: 90%;
	font-size: 1.3rem;
	padding-left: 20px;
}

/*#search:focus {
	border-bottom: 1px solid white;
}*/

.zero {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/2.jpg);
	height: calc(100vh - var(--header_height));
	background-size: 100% 100%;
	position: relative;
	top: var(--header_height);
	margin-bottom: var(--header_height);

	display: flex;
	justify-content: center;
	align-items: center;
}

.zero_title {
	text-align: center;
 	color: white; color: /*var(--color-next-nav); */
}

.zero_title>h1 {
	font-size: 4rem;
/* 	letter-spacing: 1px; */

}
.zero_title>p {
	font-size: 1.8rem;
	letter-spacing: 1px;
	padding: 2rem 0;
}
.zero_btn, .read_more {
	width: 250px;
	height: 50px;
	font-size: 2rem;
	margin-top: 5rem;
	border-radius: 10px;
	background: #FDBF6E;
	font-family: 'Vollkorn', serif;
/* се буквы заглавные	 */
/* text-transform: uppercase; */
/* font-weight: bold; */
/* letter-spacing: 1px; */
}


#left_btn {
  
	background: ;
	
	background: ;
	transition-timing-function: ease;
}


#right_btn { 
	margin-left: 20px; 
}



/* .arrow_down {
	position: absolute;
	bottom: 1rem;

}
.arrow_down>img {
	width: 24px;
} */

/* Первый экран */
.first {
	text-align: center;
	padding: 100px 0;
}

.title {
	font-size: 3rem;
	margin-bottom: 2rem;
	letter-spacing: 1px;
}

.text {
	font-size: 1.5rem;
	line-height: 1.5rem;
	font-weight: 400;
	margin: auto;
	letter-spacing: 1px;

}

.first_container {
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin: auto;
	margin-top: 100px;
}

.first_item {
	width: 30%;
}
.icon {
	width: 50px;
	display: block;
	margin: auto;
}


		


h3 {
	font-size: 2.5rem;
	margin: 2.5rem 0;
}

.second { 
	background-color: var(--color-main1);
}

.second_container {
	flex-wrap: wrap;
	max-width: 1000px;
}
.second_item {
	width: 30%;
	background-color: white;
	margin: 1rem 0;
	padding: 3rem 2rem;
	

}

.read_more {
	background-color: transparent;
	border: 2px solid black;
	color: black;
	width: 100%;

}
